

 <section id="intro" style="background-image: url('assets/img/ein-steig.jpg');" class="intro">       
        <div class="overlay"></div>
        <div class="content">
          <div class="container clearfix">
            <div class="row">
              <div class="col-lg-8 col-md-12 mx-auto">
                <!-- <p class="italic">Oh, hello, nice to meet you!</p> -->
                <h1>Welcome to the Weather App</h1>
                <a routerLink="/weather" class="btn btn-outline-secondary btn-block mt-5"> Get your weather</a>
              </div>
            </div>
          </div>
        </div>
</section>

